body {
	font-family: sans-serif;
	padding: 0px;
	margin: 0px;
	text-align: center;
}

a:link, a:visited {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #00F;
	text-decoration: underline;
}

#header,
#footer {
	background: #ddd;
	border-bottom: 5px solid #ccc;
	font-size: 15px;
	padding: 10px;
	text-align: left;
}

#header #title,
#footer #title {
	display: inline;
	float: right;
	font-weight: bold;
	font-variant: small-caps;
}

#header a {
	background: #ccc;
	display: inline;
	padding: 10px 30px;
	margin: 10px;
}

#machine_list
{
	border-collapse: collapse;
	border-spacing: 0px;
	font-size: 15px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

#machine_list tr {
	margin: 0px;
	padding: 0px;
}

#machine_list td {
	border: 1px solid #ddd;
	margin: 0px;
	padding: 10px;
}

#machine_list th {
	margin: 0px;
	padding: 10px;
	text-align: center;
}

.machine_details {
	font-size: 12px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

.machine_details td,
.machine_details th,
.machine_details select,
.machine_details input {
	font-size: 11px;
	margin: 0px;
	padding: 5px;
}

.machine_details tr {
	text-align: center;
}

.machine_details input {
	padding: 3px;
}

.machine_details button {
	margin: 10px;
	padding: 10px;
}

.machine_details .name       { width: 120px; }
.machine_details .base       { width: 30px; }
.machine_details .baseh      { width: 30px; }
.machine_details .cap_date   { width: 80px; }
.machine_details .serial     { width: 80px; }
.machine_details .unit_value { width: 80px; }
.machine_details .invoice    { width: 80px; }

#footer {
	margin-top: 30px;
}
