body {
	font-family: sans-serif;
	padding: 10px;
	margin: 0px;
	text-align: center;
}

a:link, a:visited {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #000;
	text-decoration: underline;
}

form .base       { width: 30px; }
form .baseh      { width: 30px; }
form .cap_date   { width: 80px; }
form .invoice    { width: 80px; }
form .name       { width: 120px; }
form .serial     { width: 80px; }
form .size       { width: 40px; }
form .sort       { width: 40px; }
form .unit_value { width: 80px; }

#header, #footer, #menu {
	background: #ddd;
	font-size: 15px;
	padding: 10px 0px;
	margin: 0px;
	text-align: left;
	font-variant: small-caps;
}

#header a, #menu a {
	padding: 10px 15px;
	display: inline;
	font-variant: small-caps;
}

#header .current, #menu .current {
	font-weight: bold;
}

#header .current, #menu {
	background: #bbb;
}

#menu {
	margin-bottom: 30px;
}

#footer {
	margin-top: 30px;
}

#details {
	font-size: 12px;
	margin-left: auto;
	margin-right: auto;
	padding: 30px;
	text-align: left;
}

#details td,
#details th,
#details select,
#details input {
	font-size: 11px;
	margin: 0px;
	padding: 5px;
}

#details tr {
	text-align: center;
}

#details input {
	padding: 3px;
}

#details .new {
	background: #ddd;
}

#machine_list
{
	border-collapse: collapse;
	border-spacing: 0px;
	font-size: 13px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

#machine_list tr {
	margin: 0px;
	padding: 0px;
}

#machine_list tr:hover {
	background: #eee;
}

#machine_list td {
	border: 1px solid #ddd;
	margin: 0px;
	padding: 10px;
}

#machine_list th {
	margin: 0px;
	padding: 10px;
	text-align: center;
}

#machine_list .deleted
{
	text-decoration: line-through;
	color: #777;
}

#norack {
	font-size: 25px;
}
