.rack .name {
	font: 12px sans-serif;
	text-anchor: middle;
}

.rack .body, .rack .base {
	fill: #555;
	stroke-width: 0.1;
	stroke: black;
}

.rack .slot {
	fill: #aaa;
	stroke-width: 0.2;
	stroke: black;
}

.rack .slot_number {
	fill: #ccc;
	font: 6px sans-serif;
	text-anchor: middle;
	dominant-baseline: middle;
}

.machine .body {
	fill: #fff;
	stroke-width: 1;
	stroke: black;
}

.machine .title {
	fill: black;
	font: 8px sans-serif;
	text-anchor: middle;
	dominant-baseline: middle;
}
