.rack .name {
	font: 16px sans-serif;
	text-anchor: middle;
	dominant-baseline: middle;
}

.rack .body, .rack .base {
	fill: #555;
	stroke-width: 0.1;
	stroke: black;
}

.rack .slot {
	fill: #aaa;
	stroke-width: 0.2;
	stroke: black;
}

.rack .slot_number {
	fill: #ccc;
	font: 9px sans-serif;
	text-anchor: middle;
	dominant-baseline: middle;
}

.machine .body {
	fill: #333;
	stroke-width: 1;
	stroke: #111;
}

.machine .title {
	fill: white;
	font: 10px sans-serif;
	text-anchor: middle;
	dominant-baseline: middle;
}

