svg {
	background: #aaaaaa;
	padding: 10pt;
}

.rack {
}

.rack rect {
	stroke:black;
	stroke-width: 1;
	fill: white;
}

.rack text {
	font: 6px arial, sans-serif;
	text-anchor: middle;
	dominant-baseline: middle;
}

.machine rect {
	fill: #aaaaff;
}

.machine text {
	font: 8px arial, sans-serif;
	text-anchor: middle;
	dominant-baseline: middle;
}
